body,h1,h2,h3,h4,h5,h6{
    font-family: 'Work Sans', sans-serif;
}

img{
    max-width: 100%;
}

/* Header section */
.rejaul-header{
    background-color: #ffff;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.rejaul-header .navbar-brand{
    font-size: 25px;
    font-weight: 500;
    
}
.rejaul-header span{
    display: inline-block;
    background-color: #6278df;
    color: #fff;
    height: 44px;
    width: 40px;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
}

.rejaul-menu .nav-link{
    padding-left: 20px !important;
    padding-right: 16px !important;
}

/* slider section */

.slider-section{
    background: url(https://i.postimg.cc/hvJTt1Vx/mbr-10.jpg) no-repeat center center ;
    background-size: cover;
    padding: 200px 0;
    position: relative;
    z-index: 1;
}

.slider-section::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.slider-caption h4{
    margin-bottom: 35px;

}
.slider-caption h2{
    margin-bottom: 50px;
    font-size: 46px;
}

.slider-caption .form-control{
    padding: 15px 20px;
}
.slider-caption .btn{
    background: #5ba533;
    padding: 7px 15px;
    font-size: 30px;
    font-weight: 500;
}

/* About-section */

.about-section{
    background: #f7f9ff;
}

.about-text-left{
    margin-top: 120px;
}

.about-text-left .lead{
    font-size: 26px;
}

/* Feature-section */

.feature-item{
    height: 300px;
    box-shadow: 4px 5px 30px 0px rgba(64,87,191,0.2);
}

.left-img-sec{
    width: 40%;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}

.left-text-sec{
    width: 60%;
    padding: 25px;
    padding-top: 55px;
}

.left-img-sec img{
    height: 100%;
    width: auto !important;
    max-width: inherit;
    position: relative;
    left: -40px;
}

.feature-heading{
    font-size: 48px;
    padding-bottom: 20px;
    font-weight: 400;
}

.feature-heading-2{
    font-size: 27px;
    font-weight: 300;
    color: #767a87;
    padding-bottom: 20px;
}

.left-text-sec p{
    color: #767a87;
    font-weight: 300;
    margin-top: 20px;
}

/* Portfolio Hover Css */

.portfolio-item{}

.portfolio-item a{
    position: relative;
    display: block;
}

.portfolio-item a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(98, 120, 223, .7);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.portfolio-item:hover a::after{
    opacity: 1;
    visibility: visible;
}


/* pricing-table css */

.pricing-table-section{
    background: #f7f9ff;
}

.pricing-item{
    background: #fff;
    padding: 50px;
    box-shadow: 4px 5px 30px 0px rgba(64,87,191,0.2);
    border-radius: 5px;
}
.pricing-item h1{}
.pricing-item h5{}
.pricing-item ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 20px;
}
.pricing-item ul li{
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 40px;
    font-size: 20px;
    color: #767a87;
    font-weight: 300;
}
.pricing-item ul li span{
    color: #6278df;
    font-size: 25px;
    font-weight: bold;
    width: 50px;
    display: inline-block;
}

.pricing-item-button{
}
.pricing-item-button a{
    border-color: #657be0;
    border-width: 2px;
    color: #657be0;
    padding: 15px 30px;
    font-size: 22px;
    box-shadow: 4px 5px 30px 0px rgba(64,87,191,0.2);
    background: #fff;
}



/* testmonial-section */

.author-info{
    width: 250px;
    margin: auto;
}

.author-info img{
    width: 85px;
    margin-right: 20px;
}

.user-detail{
    text-align: left;
    position: relative;
    top: 15px;
}

.testmonial-item span{
    font-size: 80px;
    color: #f0f0f0;
}

.text-muted{
    font-size: 25px;
    font-weight: 300;
}
.testmonial-item h1{
    font-size: 45px;
}
.testmonial-item .lead{
    font-weight: 300;
    color: #767a87;
}


/*about-section */

.about-section{
    background: #f7f9ff;
}
.about-item{
    margin-top: 90px;
}
.about-item .card{}
.about-item .card img{
    width: 130px;
    height: auto;
    margin-top: -70px;
    margin-left: 25px;
    margin-bottom: 15px;
}
.card-body .btn{
    text-decoration: none;
    margin-bottom: 20px;
    border: none;
}

.card-body .card-text{
    color: #767a87;
    font-weight: 300;
}

/* contact-section css */

.contact-form-div .card{
    box-shadow: 4px 5px 30px 0px rgba(64,87,191,0.2);
    padding: 40px;
}

/* get-app-section */

.app-section-div{
    margin-left: 370px;
    margin-right: 370px;
}
.app-section-div a{
    padding: 17px 33px;
}
.mobi-imge{
    display: inline-block;
    max-width: 50%;
}
.get-app-section h1{
    font-size: 44px;
    display: inline-block;
    max-width: 50%;
}
/* footer section css */

.footer-section{
    background: #f7f9ff;;
}

.footer-section p{
    font-size: 25px;
}